flask==2.2.5
requests==2.31.0
python-json-logger==0.1.8
langchain==0.2.9
langchain_core==0.2.23
langchain_community==0.2.10
gpt4all
chromadb==0.4.7
llama-cpp-python==0.1.81
urllib3==2.0.4
PyMuPDF==1.23.5
python-dotenv==1.0.0
unstructured==0.10.8
extract-msg==0.45.0
tabulate==0.9.0
pandoc==2.3
pypandoc==1.11
tqdm==4.66.1
sentence_transformers==2.2.2
langchain_text_splitters==0.2.2
overrides
markdown
